<div class="banner-bookings" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url( <%= asset_path 'agua3.jpg' %> );">
  <h1>My Bookings</h1>
</div>



<div class="container" >
  <div class="cards">
    <% @bookings.each do |booking| %>
      <div class="card">
        <div class="card-body">
          <%= cl_image_tag booking.objeto_acuatico.photo.key,class:'movie-img', height: 300, width: 400, crop: :fill %>
          <p style="margin-top: 15px"><strong><%= booking.objeto_acuatico.title %></strong></p>
          <p><strong>Address: </strong><%= booking.objeto_acuatico.location %></p>
          <p><strong>Check-In: </strong><%= booking.checkin %></p>
          <p><strong>Check-Out: </strong><%= booking.checkout %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
