<div class="container col-md-4" style="margin-top: 10px">
  <div class="bg-white rounded p-3">
    <h2 class="text-signup">Forgot your password?</h2>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <p class="send-instructions"><%= f.button :submit, "Send me reset password instructions" %></p>
          <p style="text-align :right; font-size: 12px; margin-bottom: 0"><%= link_to "Log in", new_session_path(resource_name) %> </p>
          <%# <%= render "devise/shared/links" %>
        </div>
      <% end %>
  </div>
</div>
