<%# <h1>ObjetoAcuaticos#index</h1>
<p>Find me in app/views/objeto_acuaticos/index.html.erb</p> %>
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="header">
    <h1>Acuatic rides rent</h1>
    <p type="button" class="btn btn-primary"><%= link_to 'New Post', new_objeto_acuatico_path %></p>
  </div>
  <div class="cards">
  <% @objeto_acuaticos.each do |objeto_acuaticos| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="#" alt="Image">
        <div id="title"><%= objeto_acuaticos.title %>
          <p><%= objeto_acuaticos.description %></p>
        </div>
        <div class="btn btn-primary"><%= link_to 'View details', objeto_acuaticos %></div>
      </div>
    </div>
  <% end %>
  </div>
</div>
