<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= asset_path 'bote_azul.jpg' %> );">
  <div class="text-center">
    <h1>Rent a aquatic ride</h1>
    <p>Enjoy</p>
  </div>
</div>


<div class="container">
  <div class="header">

  </div>
  <div class="cards">
    <% @objeto_acuaticos.each do |objeto_acuaticos| %>
      <div class="card" style="width: 400px;">
        <div class="card-body">
          <%= cl_image_tag objeto_acuaticos.photo.key,class:'movie-img', height: 300, width: 400, crop: :fill %>
          <div id="title"><%= objeto_acuaticos.title %>
            <p><%= objeto_acuaticos.description %></p>
          </div>
          <div class="btn btn-primary"><%= link_to 'View details', objeto_acuaticos %></div>
        </div>
      </div>
    <% end %>
  </div>

</div>
