<!DOCTYPE html>
<html>
  <head>
    <title>AquaticRideRent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <p>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path(current_user), method: :delete, class:"btn btn-sm btn-danger" %>
      <% end %>
    </p>
  </body>
</html>
